version: "2.4"

x-mysql: &mysql
  image: ${IMAGE}:${VER}
  restart: "${RESTART:-always}"
  networks:
    - mysql
  env_file:
    - .env
      
services:

  mysql:
    <<: *mysql
    build:
      context: ./Dockerfile
      args:
        VER: ${VER:-5.7}
        TEST: ${TEST:-false}
    volumes:
      - mysql:/var/lib/mysql
    ports:
      - "3306:3306"
    
  repl:
    <<: *mysql
    volumes:
      - repl:/var/lib/mysql
    ports:
      - "3307:3306"
    command: repl

volumes:

  mysql:
    external: true
  repl:
    external: true

networks:

  mysql:
    driver: bridge
    attachable: true
